@model IEnumerable<HerCalendar.Models.CycleTracker>

@{
    ViewData["Title"] = "My Cycles";
}

<main>
    <h1 class="mt-4">Homepage</h1>
    <hr />
    <p>Welcome User! Here you can view your Menstration Cycles.</p>

    <a asp-controller="MyCycles" asp-action="Index" class="btn btn-secondary">View My Cycles</a>
</main>

<!-- 
TODO: 
***********************************************************************************
Will add a React component here to display cycle data in a more interactive way.


<div id="react-root"></div>
<script src="~/js/bundle.js"></script>
***********************************************************************************
-->



