
/* Shared App Styling */

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--bs-body-bg);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

input:hover {
    border-color: rgba(120, 194, 173, 1);
    box-shadow: 0 0 5px rgba(27, 110, 194, 0.5);
    transition: all 0.2s ease-in-out;
}

input:focus {
    border-color: rgba(120, 194, 173, 1);
    box-shadow: 0 0 5px rgba(27, 110, 194, 0.5);
}

/* Homepage Styling */

@keyframes bounce-right {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(8px);
    }

    60% {
        transform: translateX(4px);
    }
}

.animated-arrow {
    font-size: 2rem;
    display: inline-block;
    animation: bounce-right 2s infinite;
    color: #1b6ec2;
    margin-right: 10px;
}

.background-calm {
    background-image: url('/images/calendar_image.svg'); 
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Loader Overlay Styling */

.loader-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.loader-container {
    width: 50%;
    text-align: center;
}

.loader-message {
    font-size: 1.45rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #333;
}

.retry-button {
    margin-top: 1rem;
    display: none;
    font-size: 1rem;
}
