@model IEnumerable<HerCalendar.Models.CycleTracker>

@{
    ViewData["Title"] = "Index";
    var avg = ViewData["AverageCycleLength"] as int? ?? 0;
}

<div id="cycle-content">
    <partial name="_IndexPartial" model="Model" />
</div>
