@{
    ViewData["Title"] = "Loading...";
}

<!-- Marker that tells JS to run fetch logic -->
<div id="mycycles-loader-init"></div>

<!-- Loader layout: no DB calls, just shell -->
<div id="cycle-content">
    <!-- JS will fetch /MyCycles/IndexPartial here -->
</div>



